<!--<div class="row">
    

    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            
            <tbody>
                <tr data-ng-repeat="diary in diaries">
                    <td>
                        {{ diary.title }}
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    
</div>-->

<div ng-repeat="diary in diaries" class="diariesContent">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{diary.title}}</h4>
        </div>
        <div class="panel-body">
            <span class="label label-info">{{diary.updateDate | date}}</span><br /><br />

            <p ng-bind-html="diary.content | sanitize"></p>

            <span class="label label-warning">{{diary.tags}}</span>
        </div>
    </div>

</div>